
    <div class="card card__container">
        <img class="card__image" [src]="product.thumbnail" alt="product.title" width="180" height="120">
        <div class="card__info">
            <div class="card__titlegroup">
                <h3>{{ product.title }}</h3>
                <button [ngClass]="{'like-btn': true, 'like-active': this.favoriteSelected()}" (click)="changeFavoriteState(product)"></button>
            </div>
            <p>{{ product.description }}</p>
            <p class="card__info--big">{{ product.price | currency:'USD' }}</p>
        </div>
    </div>