
<dummyshop-workspace-navbar></dummyshop-workspace-navbar>
<p>home works!</p>
<h1>Products</h1>
<h6> total: {{viewModel().total}} </h6>
<h6> limit: {{viewModel().limit}} </h6>
<h6> skip: {{viewModel().skip}} </h6>
@for (product of viewModel().products; track product.id) {
    <dummyshop-workspace-product-card [product]="product"></dummyshop-workspace-product-card>

}

@if(viewModel().skip !== 0) {
    <button (click)="previousPage()">Previous Page</button>
}

@if(viewModel().skip !== 90) {
    <button (click)="nextPage()">Next Page</button>
}

<h6> page: {{(viewModel().skip / viewModel().limit) + 1 }} of {{viewModel().total / viewModel().limit}}</h6>

<dummyshop-workspace-spinner></dummyshop-workspace-spinner>