<div class="login login__container">
    <div class="login-wrapper">
  
      <div class="login-form">
        <img src="../../../assets/images/dummy.jpg" alt="logo" class="login-form__image" />
        <h3 class="login-form__title">An online shop</h3>
        <form [formGroup]="formLogin" (ngSubmit)="login()">
          <div class="login-form__field">
            <label class="login-form__label">Username</label>
            <input class="login-form__input" id="username" placeholder="Enter the username" formControlName="username" />
            <span *ngIf="isFieldInvalid('username')" class="login-form__message">Username is required</span>
          </div>
          <div class="login-form__field">
            <label class="login-form__label">Password</label>
            <input type="password" class="login-form__input" id="password" placeholder="Enter the password"
              formControlName="password" />
            <span *ngIf="isFieldInvalid('password')" class="login-form__message">Password is required</span>
          </div>
          <div class="login-form__field">
            <button type="submit" class="login-form__button">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<dummyshop-workspace-spinner></dummyshop-workspace-spinner>
  