<dummyshop-workspace-navbar></dummyshop-workspace-navbar>
<div class="favorites">
    <h2 class="favorites favorites__title">Favorires</h2>
    <div class="favorites favorites__container">
        @if (favoriteProducts().length > 0) {
            @for (product of favoriteProducts(); track product.id) {
                <div class="favorites__card">
                    <dummyshop-workspace-product-card [product]="product"></dummyshop-workspace-product-card>
                </div>
            }
        } @else {
            <dummyshop-workspace-empty-page></dummyshop-workspace-empty-page>
        }
    </div>
</div>
